@import "tailwindcss";
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .prose {
    @apply text-slate-600;
  }

  .prose p {
    @apply mb-4 leading-relaxed;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply text-slate-800 font-bold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

